/* Главная страница */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4% 5%;
    gap: 3vw;
    }
.hero-info {
  flex: 1;
  max-width: 50%;
  background-color: #E7EBC5;
  padding: 0.8rem 2rem;
  border-radius: 0.8rem;
}
.hero-info h1 {
  font-size: 3rem;
  margin: 0.8rem 9;
  font-weight: 800;
}
.hero-info h2 {
  font-size: 2rem;
  font-weight: 700;
}
.hero-info p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 1.8rem;
}
.btn-mn {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 0.8rem 2rem;
  border-radius: 0.3rem;
  text-decoration: none;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

.btn-mn:hover {
  background-color: #720026;
  color: white;
}

.hero img {
  flex: 1;
  max-width: 40%;
  border-radius: 0.6rem;
}
.promo-section {
    background: white;
  padding: 4% 5%;
  text-align: center;
}
.promo-section h3 {
  color: #720026;
  margin-bottom: 2rem;
  font-weight: 700;
  font-size: 2rem;
}

.promo-list {
  display: flex;
  justify-content: center;
  gap: 3vw;
  flex-wrap: wrap;
}
.promo-list a{
  color: black;
  text-decoration: none;
  padding: 0.4rem 0.6rem;
  transition: all 0.3s ease;
  display: inline-block;
}

.promo-card {
  background: white;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  padding: 1rem;
  border-radius: 0.5rem;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.promo-card img {
  max-width: 100%;
  border-radius: 0.3rem;
  margin-bottom: 0.7rem;
}

.promo-card span {
  font-weight: 600;
  color: #222;
}