{% extends "main/base.html" %}
{% load static %}

{% block content %}
    <main class="catalog container">
        <div class="search-section">
            <div class="search-container">
                <input type="text" class="search-input" placeholder="Введите нужный товар...">
                <button class="search-btn">Найти</button>
            </div>
        </div>


        <section id="living-room" class="product-list">

            {% for product in goods %}
            <div class="sofas">
            <div class="product-card">
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{product.name}}" />
                {% else %}
                    <img src="{% static "deps/img/furniture_shop_img/Image-not-found.png" %}" alt="{{product.name}}" />

                {% endif %}
                    <a href="{% url "catalog:product" product.slug %}">
                    <h3>{{product.name}}</h3>
                   </a>
                    <p>{{product.description}}</p>
                    <p class="product_id">артикул: {{product.display_id}}</p>
                    {% if product.discount %}
                    <p><s>{{product.price}} ₽</s></p>
                    <p><strong>{{product.sell_price}} ₽</strong></p>
                    {% else%}
                    <span class="price">{{product.price}}₽</span>
                    {% endif %}
                    <button class="btn-mn">Добавить в корзину</button>
            </div>
                </div>
            {% endfor %}

        </section>
    </main>
<!-- Пагинация -->
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center my-4">
            <div class="custom-shadow d-flex">
                <li class="page-item {% if not goods.has_previous %}disabled{% endif%}">
                  <a class="page-link" href="{%if goods.has_previous %}?page={{goods.previous_page_number}}
                  {% else %}#{% endif%}">предыдущая</a>
                </li>
                {% for page in goods.paginator.page_range %}
                {% if page >= goods.number|add:-2 and page <= goods.number|add:2 %}
                    <li class="page-item" {% if goods.number == page %} active {% endif %}>
                       <!-- надо так же через параметры сделать каталог как раньше -->
                        <a class="page-link" href="?page={{page}}">{{page}}</a>
                    </li>
                {% endif %}
                {% endfor %}
                  <li class="page-item {% if not goods.has_next %}disabled{% endif%}">
                  <a class="page-link" href="{%if goods.has_next %}?page={{goods.next_page_number}}
                  {% else %}#{% endif%}">следующая</a>
                </li>
            </div>
        </ul>
    </nav>
{% endblock content %}