{% extends "base.html" %}
{% load static %}

{% block content %}
<main class="product-detail container">
    <article class="product-layout">
        <!-- Картинка слева в рамке -->
        <div class="product-image-framed">
            {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}" class="framed-img">
            {% else %}
                <img src="{% static 'deps/img/furniture_shop_img/Image-not-found.png' %}" alt="{{ product.name }}" class="framed-img">
            {% endif %}
        </div>

        <!-- Контент справа -->
        <div class="product-content-right">
            <div class="product-header">
                <h1 class="product-title">{{ product.name }}</h1>

                <div class="price-section">
                    {% if product.discount %}
                        <!-- Твоя старая цена с зачеркиванием -->
                        <div class="price-row">
                            <s class="old-price">{{ product.price }} ₽</s>
                            <strong class="current-price">{{ product.sell_price }} ₽</strong>
                        </div>
                        <span class="discount-badge">{{ product.discount }}%</span>
                    {% else %}
                        <span class="price">{{ product.price }} ₽</span>
                    {% endif %}
                </div>
            </div>

            <div class="product-description-full">
                {{ product.description|linebreaks }}
            </div>

            <div class="product-actions">
                 <a href="{% url "cart:cart_add" %}" class="btn btn-mn add-to-cart" data-product-id="{{product.id}}">
                {% csrf_token %} Добавить в корзину</a>
            </div>

            <div class="product-meta">
                <span>Категория: <strong>{{ product.category.name }}</strong></span>
                <span>Артикул: {{ product.display_id }}</span>
            </div>
        </div>
    </article>
</main>
{% endblock %}
