{% extends "base.html" %}
{% load static %}

{% block content %}
    <main class="account-container">

        <!-- Форма входа -->
        <div id="login" class="auth-form active">
            <h1>Вход в аккаунт</h1>
            <form class="auth-form-content">
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" placeholder="Ваш email" required>
                </div>

                <div class="form-group">
                    <label for="password">Пароль</label>
                    <input type="password" id="password" placeholder="Ваш пароль" required>
                </div>

                <div class="form-options">
                    <label class="checkbox">
                        <input type="checkbox">
                        <span class="checkmark"></span>
                        Запомнить меня
                    </label>
                    <a href="#" class="forgot-password">Забыли пароль?</a>
                </div>

                <button type="submit" class="auth-btn">Войти</button>
            </form>

            <div class="auth-switch">
                <p>Нет аккаунта? <a href="{% url "users:registration" %}" onclick="showTab('registration')">Зарегистрироваться</a></p>
            </div>
        </div>

    </main>

{% endblock content %}