{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="hero container">
        <div class="hero-info">
            <h2>{{ title1 }}</h2>
            <h1>{{ title2 }}</h1>
            <p>
               {{ text }}
            </p>
            <a href="{% url 'catalog:index' 'all' %}" class="btn-mn">В каталог</a>
        </div>
        <img src={% static "deps/img/couch.png" %} alt="Диван из коллекции"/>
    </div>
    <section class="promo-section">
      <div class="promo-list">
        <a href="{% url 'catalog:index' 'all' %}" class="promo-card">
          <img src={% static "deps/img/sale1.jpg" %} alt="Скидка на диваны">
          <span>Диваны — скидка до 30%</span>
        </a>
        <a href="{% url 'catalog:index' 'all' %}" class="promo-card">
          <img src={% static "deps/img/sale2.png" %} alt="Скидка на столы">
          <span>Кухонные столы — выгодно!</span>
        </a>
        <a href="{% url 'catalog:index' 'all' %}" class="promo-card">
          <img src={% static "deps/img/sale3.jpg" %} alt="Подарочные сертификаты">
          <span>Подарочные сертификаты на мебель</span>
        </a>
      </div>
    </section>
{% endblock content %}
